<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title %> | Diverst</title>
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="keywords" content="<%= current_page.data.tags %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,500" %>
  </head>
  <body class="<%= page_classes %>">

    <div class="overlay"></div>

    <%= partial :fixed_nav %>

    <%= partial :nav %>

    <%= partial :page_header %>
    
    <%= yield %>

    <%= partial :sign_up %>

    <%= partial :footer %>

    <%= partial :ga %>
    <%= javascript_include_tag 'main' %>

  </body>
</html>
