<footer class="footer">
  <div class="site-wrap">
    <div class="footer__section">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <h4 class="footer__heading">Navigation</h4>
          <ul class="footer__list">
            <% data.menuElements.top.each do |menuElement| %>
              <li class="footer__item">
                <a class="footer__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' footer__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <h4 class="footer__heading">Products</h4>
          <ul class="footer__list">
            <% data.menuElements.menu.each do |menuElement| %>
              <li class="footer__item">
                <a class="footer__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' footer__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <h4 class="footer__heading">Diverst</h4>
          <ul class="footer__list">
            <p>455 Fenelon Suite 311<br>
            Dorval, QC  H9S 5T8<br>
            (514) 633-1234</p>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <h4 class="footer__heading">Social</h4>
          <ul class="footer__list">
            <li class="footer__item"><a href="https://www.linkedin.com/company/10279636" class="footer__link">LinkedIn</a></li>
            <li class="footer__item"><a href="https://www.linkedin.com/company/10279636" class="footer__link">Twitter</a></li>
            <li class="footer__item"><a href="https://www.linkedin.com/company/10279636" class="footer__link">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__section--addon">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 hide-md">
          Diverst logo
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <a class="footer__link" href="mailto:info@diverst.com">info@diverst.com</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <span>&copy; 2016 Diverst Inc.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
