<footer class="footer">
  <div class="site-wrap">
    <div class="footer__section">
      <div class="grid">
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3">
          <h4 class="footer__heading">Products</h4>
          <ul class="footer__list">
            <% data.menuElements.products.each do |menuElement| %>
              <li class="footer__item">
                <a class="footer__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' footer__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3">
          <h4 class="footer__heading">Navigation</h4>
          <ul class="footer__list">
            <% data.menuElements.top.each do |menuElement| %>
              <li class="footer__item">
                <a class="footer__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' footer__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3">
          <h4 class="footer__heading">Contact</h4>
          <ul class="footer__list">
            <a class="footer__link" href="https://www.google.com/maps/place/455+Boulevard+F%C3%A9nelon+%23311,+Dorval,+QC+H9S+5K1,+Canada/@45.4472264,-73.7521774,17z/data=!3m1!4b1!4m2!3m1!1s0x4cc93d8b128afbe1:0x2899c3303a4bee58" target="_blank">
              <p>455 Fenelon Suite 311<br>
              Dorval, QC  H9S 5T8</p>
            </a>

            <a class="footer__link" href="tel:5146331234">514-633-1234</a>
          </ul>
        </div>
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3">
          <h4 class="footer__heading">Social</h4>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="https://www.linkedin.com/company/10279636" class="footer__link" target="_blank"><%= inline_svg("icons/linkedin.svg", class: "icon footer__icon") %>LinkedIn</a>
            </li>
            <li class="footer__item">
              <a href="https://twitter.com/diverstinc" class="footer__link" target="_blank"><%= inline_svg("icons/twitter.svg", class: "icon footer__icon") %>Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__section--addon">
      <div class="grid">
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3 hide-md">
          <%= inline_svg("icons/diverst-mark.svg", class: "icon icon--large footer__logo") %>
        </div>
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3">
          <a class="footer__link" href="mailto:info@diverst.com">info@diverst.com</a>
        </div>
        <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-3">
          <span>&copy; 2016 Diverst Inc.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
