<nav class="nav">
  <div class="site-wrap">
    <a href="/"><%= inline_svg("icons/diverst-logo.svg", class: "nav__logo") %></a>
    <button class="nav__hamburger">
      <%= inline_svg("icons/hamburger.svg", class: "icon icon--hamburger") %>
    </button>

    <ul class="nav__list">
      <li class="nav__item">
        <button class="nav__link product-nav-trigger">Products<%= inline_svg("icons/dropdown.svg", class: "icon nav__dropdown") %></button>
      </li>
      <% data.menuElements.top.each do |menuElement| %>
        <li class="nav__item">
          <a class="nav__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' nav__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
        </li>
      <% end %>
      <li class="nav__item">
        <a href="#sign-up" class="btn btn--primary btn--small">Request a demo</a>
      </li>
    </ul>
  </div>
</nav>