<nav class="nav">
  <div class="site-wrap">
    <a href="/"><%= inline_svg("icons/diverst-logo.svg", class: "nav__logo") %></a>
    <button class="nav__hamburger">
      <%= inline_svg("icons/hamburger.svg", class: "icon icon--hamburger") %>
    </button>

    <ul class="nav__list">
      <li class="nav__item">
        <button class="nav__link product-nav-trigger">Products<%= inline_svg("icons/dropdown.svg", class: "icon nav__dropdown") %></button>
      </li>
      <% data.menuElements.top.each do |menuElement| %>
        <li class="nav__item">
          <a class="nav__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' nav__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
        </li>
      <% end %>
      <li class="nav__item">
        <a href="#sign-up" class="btn btn--secondary btn--small nav__btn">Request a demo</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="mobile-nav">
  <button class="mobile-nav__close">
    <%= inline_svg("icons/close.svg", class: "icon icon--close") %>
  </button>
  <h4>Products</h4>
  <ul class="mobile-nav__list">
    <% data.menuElements.products.each do |menuElement| %>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' mobile-nav__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
      </li>
    <% end %>
  </ul>
  <ul class="mobile-nav__list">
    <% data.menuElements.top.each do |menuElement| %>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' mobile-nav__link--active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
      </li>
    <% end %>
  </ul>
  <a href="#sign-up" class="btn btn--primary">Request a demo</a>
</nav>