<div class="page-header">
  <div class="site-wrap">
    <% if current_page.data.icon %>
      <%= inline_svg("icons/#{current_page.data.icon}.svg", class: "icon page-header__icon") %>
    <% end %>
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subtitle %></h2>
    <% if current_page.data.screenshot %>
      <img class="page-header__image" src="/images/screenshots/<%= current_page.data.title.downcase %>/header.png">
    <% end %>
  </div>
  <a href="<%= prev_product_path %>" class="page-header__nav page-header__nav--prev"><%= inline_svg("icons/left-arrow.svg", class: "icon page-header__icon") %></a>
  <a href="<%= next_product_path %>" class="page-header__nav page-header__nav--next"><%= inline_svg("icons/right-arrow.svg", class: "icon page-header__icon") %></a>
</div>