---
layout: product
title: Bias
icon: bias
subtitle: Zero-in on unconscious bias
screenshot: screenshot2.png
testimonial_image: team.jpg
meta_title: Bias - Zero-in on unconscious bias | Diverst
meta_description: Bias is a software suite that helps you create connections within your company based on multiple inherent and acquired diversity criteria.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Bias</strong> is the first ever technology to quickly help uncover and address unconscious bias. Bias is further unique in that it can be deployed in passive, active or blended modes; and always on demand. Our data analytics pin-point unconscious biases and enable organizations to rapidly implement corrective and remedial measures.</p>
    </div>
  </div>
</div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--center grid--middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Uncover Unconscious Bias + Build D&I Culture</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Setup unconscious bias detection campaigns on-demand</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Collect unconscious bias from multiple dimensions (gender, ethnicity, orientation, disability, location, department, etc.)</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Push and/or pull engagement modes</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/bias/form.png">
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid grid--center grid--middle grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Multi-dimensional data capture</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Realtime data analytics provide reliable and actionable decision support</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Total respondent anonimity provides the desirable dynamic for engagement</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Precise identification of bias types, location and frequency of occurences</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Configurable markers and weightings make for environment customized to your needs</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/bias/stats.png">
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid grid--center grid--middle grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Optimize inclusion and team performance</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Pro-active trend analysis enables quick issue detection before they become cultural quagmires</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Identify hot button issues and where they emanate from</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Identify uncounscious biases that limit conversation, collaboration, innovation and productivity</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/bias/stats-global.png">
    </div>
  </div>
<% end %>