---
layout: product
title: Collaborate
icon: collaborate
subtitle: Engagement and inclusion for your D&I process
screenshot: screenshot2.png
testimonial_image: collaborate.jpg
meta_title: Collaborate | Unify diverse groups around company issues
meta_description: Unify diverse groups for measurable business results.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Collaborate</strong> connects D&I with ROI by uniting diversity silos to achieve a stated business objective. Collaborate brings ERGs/BRGs and affinity networks together to arrive at solutions with financial impact. So whether you want to identify a new product or solve an old problem in a creative new way, Collaborate unleashes the “secret sauce” of diversity to fuel measurable results.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--center">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Diverse groups that create the most authentic value</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Create rich conversations that benefit from diverse perspectives and that create solution value through diversity; packed with social voting mechanisms</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Environment for inherent and acquired diversity to iterate the best solution available from your talent pool</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Manage your conversations, responses and outcomes from a single dashboard</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/manage/onboarding.png">
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid grid--center grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Frictionless configuration</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Easy campaign setup, replete with creative content and timeline in minutes</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Run multiple campaigns concurrently for full workplace diversity</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Participant selection at your fingertips, whether that’s ERG or segments for full representation in each campaign</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/manage/onboarding.png">
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid grid--center">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Diverse groups that create the most authentic value</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Managers can use employee feedback to easily pinpoint the most outstanding contributions and solutions</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Star capabilities allow Managers to highlight top responses</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Real-time analytics provide insight into top participating employees and ERGs</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/manage/onboarding.png">
    </div>
  </div>
<% end %>