---
layout: product
title: Manage
icon: manage
screenshot: screenshot2.png
testimonial_image: discussion.jpg
meta_title: Manage | Organize and analyze your diversity initiatives
meta_description: Manage simplifies ERG management by helping you govern and track your Employee Resource Groups all from a single convenient web-based dashboard.
---

<%# This is necessary to pass the subtitle to the layout %>
<% @subtitle = subtitle %>

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Manage</strong> helps you organize and manage your <%= erg_variant[:full] %>s from a simple dashboard. Whether it’s hosting an online governance meeting, updating a user list, creating a new group/segment, pushing-out news or organizing events, Manage is there to assist you.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--center grid--middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>ERG Management and Segmentation</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Quick and easy user onboarding through Yammer, Chatter, SharePoint, Slack, .CSV, HRMS or manual invitation</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Centralized resource repository for D&I practitioners and ERG managers to store best practices, videos and much more</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Easily publish general or ERG specific news, messages and events all from a simple dashboard</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Establish deeper, more granular groups through segmentation capabilities (i.e.: LGBT Veterans Aged 40+)</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Hold online ERG governance meetings through embedded video and whiteboard functionality</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/manage/ergs.png">
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid grid--center grid-middle grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Unmatched Visibility and Engagement</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Dedicated dashboards provide each ERG its own branding, events, messages and content</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Easily identify who manages each ERG and connect with them through our LinkedIn integration</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Live leaderboards and game mechanics to showcase top ERG performers and top performing ERGs</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Insight into the latest members of each ERG</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/manage/dashboard.png">
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid grid--center grid-middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Actionable Analytics</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Real-time ERG metrics allow you to tap into membership stats and engagement levels</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Create custom reports with a few clicks, no PhD required</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Time-based metrics provide visibility and transparency into D&I program successes</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Export results to .CSV to easily put together the annual D&I report</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Activity and segmentation BI reveal potential under-representation and unconscious biases from multiple vantage points</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/manage/graph.png">
    </div>
  </div>
<% end %>