---
layout: product
title: Manage
icon: manage
screenshot: screenshot2.png
testimonial_image: discussion.jpg
meta_title: Manage | Organize and analyze your diversity initiatives
meta_description: Manage simplifies ERG management by helping you govern and track your Employee Resource Groups all from a single convenient web-based dashboard.
---

<%# This is necessary to pass the subtitle to the layout %>
<% @subtitle = subtitle %>

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Manage</strong> helps you organize and manage your <%= erg_variant[:full] %>s from a simple dashboard. Whether it’s hosting an online governance meeting, updating a user list, creating a new group/segment, pushing-out news or organizing events, Manage is there to assist you.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--equal-height features">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Easy onboarding</h3>
          <p>Onboard your employees quickly and easily</p>
          <img class="feature__image" src="/images/screenshots/manage/onboarding.png">
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Resources</h3>
          <p><%= erg_variant[:abbr] %> playbook, CMS and document repository</p>
          <img class="feature__image" src="/images/screenshots/manage/resources.png">
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>News and events</h3>
          <p>Manage your news and events from a single dashboard</p>
          <img class="feature__image" src="/images/screenshots/manage/news.png">
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Custom reports</h3>
          <p>Measure engagement with on-demand custom reports</p>
          <img class="feature__image" src="/images/screenshots/manage/reports.png">
        </div>
      </div>
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12">
      <h2 class="section__title">Other features</h2>
    </div>
  </div>
  <div class="grid grid--equal-height features">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>User management</h3>
          <p>Import lists of users and segment them according to their membership(s).</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Role-based permissions</h3>
          <p>Provide individual <%= erg_variant[:full].downcase %> managers their own dashboards and metrics.</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Configurable</h3>
          <p>Configure each <%= erg_variant[:full].downcase %> according to its unique characteristics.</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Dedicated dashboards</h3>
          <p>Each <%= erg_variant[:abbr] %> gets its own branding, events, messages and content through its own dashboard.</p>
        </div>
      </div>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0 grid__col--lg-4">
      <div class="feature feature--stacked">
        <div class="feature__content">
          <h3>Virtual meetings</h3>
          <p>Hold governance meetings online through embedded video and whiteboard functionality.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section class="section section--testimonial" style="background-image: url('/images/<%= current_page.data.testimonial_image %>');">
  <div class="site-wrap">
    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
        <h2>"Spend more time creating a culture of diversity and inclusion rather than administrating its activities"</h2>
      </div>
    </div>
  </div>
</section>