---
layout: product
title: Meet
icon: meet
subtitle: Uncover unconscious bias
screenshot: screenshot2.png
testimonial_image: team.jpg
meta_title: Meet | Connect diverse employees together
meta_description: Meet is a software suite that helps you create connections within your company based on multiple inherent and acquired diversity criteria.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Meet</strong> is the ultimate mobile-first diversity engagement platform. Our algorithm matches users on a diversity score that can be set by weightings using simple sliders on multiple inherent and acquired diversity criteria. Meet enables conversation between two colleagues who otherwise may never have had the chance to connect and converse.</p>
    </div>
  </div>
</div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--center grid--middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Uncover Unconscious Bias + Build D&I Culture</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Meet data analytics uncover unconscious bias through usage patterns</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Biases can be based on gender, ethnicity, language, location, orientation, status and a number of other uniqueness markers</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>More inclusive onboarding with a community of diverse peers</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/meet/swipe.png">
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid grid--center grid--middle grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Algorithm makes identifying biases easy</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Match connections based on multiple inherent and acquired diversity criteria</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Mobile-first app engagement platform built natively for both iOS and Android</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Configurable markers, weightings and topics let you drill down to the cause and effect of biases</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/meet/algorithm.png">
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid grid--center grid--middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Optimize inclusion and team performance</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Real-time data analytics to provide metrics on matches presented and rejected</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Identify hot topics and which diverse groups interact the most</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Identify unconscious biases that limit conversation, collaboration, innovation and productivity</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/meet/topics.png">
    </div>
  </div>
<% end %>