---
layout: product
title: Plan
icon: plan
subtitle: D&I Planning, budgeting and tasking
screenshot: screenshot2.png
testimonial_image: team.jpg
meta_title: Plan - Organize and budget D&I outcomes, pillars and initiatives | Diverst
meta_description: Plan is a diversity learning and recruiting application that helps enterprises match mentees and mentors accross a wide range of backgrounds.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Plan</strong> enables you to create diversity mentorship opportunities across both your employee pool and leadership hierarchy. With configurable criteria, our algorithm can match mentees and mentors with the optimal fit for their current career stage, ambitions, skill-set and availabilities. An elegant blend of diversity recruiting and diversity learning.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--center grid--middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Intuitive global tracking</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Plan gives you a real-time 360° view of your D&I process, activities, outcomes, budgets and ROI – per initiative, per ERG/BRG and globally</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Track growth with configurable time-based metrics</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Definable metrics to build and track discrete BI</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/plan/tracking.png">
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid grid--center grid--middle grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Initiative-specific tracking</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Track progress of each individual initiative from a simple dedicated dashboard</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Identify % change for each metric when status updates are published or pulled</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Time-based metrics allow you to look at Beta of initiative growth</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/plan/tracking-2.png">
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid grid--center grid--middle">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Budget oversight and visibility</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Set global D&I budget and track expenses for all outcomes (targets), pillars and initiatives</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Budgets can be tracked and adjusted at the global program level as well as at the initiative level</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Real-time analytics show spend over defined time period</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/plan/expenses.png">
    </div>
  </div>
<% end %>