---
layout: product
title: Scope
icon: scope
subtitle: Diversity segmentation and analysis
screenshot: header.png
testimonial_image: women.jpg
meta_title: Scope | Create internal surveys accross resource groups
meta_description: Scope is an in-house market research tool that helps you survey your diverse employees to conduct segmented analysis and tap into the brain trust of your workforce.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large"><strong class="soft">Scope</strong> enables you to tap into the diverse cultures and mindsets that drive behavior; whether for employee-centric or consumer-driven purposes. Knowing what words to use, which stereotypes to avoid and what your target group responds best to - all elements critical to getting it right the first time. Your workplace diversity is a ready and reliable data source for that information.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt', id: 'features' do %>
  <div class="grid grid--center">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Your people know best</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Customized surveys provide timely and relevant diversity segment information directly from your members of your workforce</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Setup surveys with any combination of fields with our easy-to-use form builder (single-choice, multiple-choice, numeric, textual and more)</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Establish intra-ERG segmentation through segmented diversity communities and create targetable groups to survey</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/scope/survey.png">
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid grid--center grid--reverse">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>Reports available to you immediately – no more waiting!</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Create custom reports and real-time graphs using data aggregation and analysis</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Get immediately usable data for actionable decision making</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Export results into other reporting and workforce analysis tools via .CSV exporting and REST API</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/scope/reports.png">
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid grid--center">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-7 grid__col--md-offset-0">
      <h2>####Title TBD</h2>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Viewing your respondents’ individual qualitative responses gives you precise information regarding sentiments, cultural conventions and norms</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Intelligent semantic analysis engine helps extract top responses automatically</li>
      </ul>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
      <img class="feature__image" src="/images/screenshots/scope/responses.png">
    </div>
  </div>
<% end %>