---
title: "Company"
subtitle: "The first enterprise D&I software platform"
meta_description: Calculate your diversity ROI by measuring the effects of diversity on absenteeism, retention and turnover rates, HR time savings and productivity gains.
---

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <p class="large">Diverst is a software company offering a diversity & inclusion (D&I) platform that helps organizations increase traction for and obtain ROI from their diversity initiatives.</p>
      <p class="large">Diverst technology provides solutions to organizations that have hired diverse talent and are now looking to move to the next step – inclusion and culture building. Diverst fosters authenticity and drives engagement; enabling organizations to manage, grow and track the progress of their D&I program – to fully deliver on the promise of diversity and inclusion.</p>
    </div>
  </div>
<% end %>

<% section class: 'section--alt' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <h3>Why choose Diverst?</h3>
      <p>We are the pioneers of D&I software technology – successfully meshing management and inclusion of your diversity initiatives.</p>
      <p>We have a diverse team of experts who have involved themselves with D&I and enterprise software for over 15 years. The deep process knowledge and best practices help us provide our clients with successful implementations, positive ROI and growth towards their D&I program.</p>
    </div>
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-6 grid__col--md-offset-0">
      <h3>Our promise</h3>
      <ul class="list list--unstyled">
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Always listen to your questions/concerns</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Address requests as promptly as possible</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Remain user-friendly and simple</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Allow you to connect Diverst with tools you already use</li>
        <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Take your feedback into consideration for product development</li>
      </ul>
    </div>
  </div>
<% end %>

<% section class: '' do %>
  <div class="grid">
    <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
      <h2 class="section__title">Careers</h2>
      <div id="jobs-container">
        <div class="jobs-list">
          <div class="job">
            <h3 class="job__title">Senior Rails Developer</h3>
            <span class="job__location">Montreal</span>
            <p class="job__description">You have at least 3 years of experience working with the Rails stack. You are a quick self-learner, know how to build and model applications that solve real-world problems and can stay up to date with the latest software development practices. You also know how to delegate tasks to other developers and lead a small team of developers, designers and devops. You are proficient with most modern collaboration tools (Slack, Trello, Github, Dropbox, Google Drive) and are driven to succeed yet easy-going and affable. Bonus experience: ES2015, frontend MVC frameworks, Elasticsearch, hosting on AWS.</p>
            <span class="btn btn--small btn--primary">Apply</span>
          </div>
          <div class="job">
            <h3 class="job__title">Junior Rails Developer</h3>
            <span class="job__location">Montreal</span>
            <p class="job__description">You have at least one year of experience working with the Rails stack. You are able to interact with other developers and execute modular tasks that are assigned to you. You are proficient with most modern collaboration tools (Slack, Trello, Github, Dropbox, Google Drive) and are driven to succeed and are fun to work with.</p>
            <span class="btn btn--small btn--primary">Apply</span>
          </div>
          <div class="job">
            <h3 class="job__title">Sales Executive</h3>
            <span class="job__location">New York</span>
            <p class="job__description">You are the hunter with the winner-take-all attitude and sales skills to make it happen. You have it all - extensive contacts in the HR and consulting industries, with an in-depth knowledge of HRIS technologies, as well as the latest enterprise collaboration platforms. You are not looking for a job or an opportunity – you are looking to be a partner in the next big thing. Your consistent triple-digit track record compels you to always reach for more.</p>
            <span class="btn btn--small btn--primary">Apply</span>
          </div>
          <div class="job">
            <h3 class="job__title">Channel Sales</h3>
            <span class="job__location">San Francisco</span>
            <p class="job__description">You are a plugged-in valley interloper deeply immersed in the tech scene. You have developed successful Enterprise VAR channels from scratch and turned them into the company’s cash-cows; contributing exponentially to your software sales growth. You have a knack for landing at the right companies, just at the right time; and then taking them to the stratosphere. You are a team-builder and a growth hacker extraordinaire.</p>
            <span class="btn btn--small btn--primary">Apply</span>
          </div>
          <div class="job">
            <h3 class="job__title">Diversity Consultant</h3>
            <span class="job__location">New York</span>
            <p class="job__description">You are at the top of the diversity consulting food-chain. You anticipate important shifts and trends before they start to happen; and you want to leverage the best technology for the benefit of your customer base. Your clients trust your advice and the new offerings you present them with; they look to you to bring about the right cultural change, at the right time and for the best value.</p>
            <span class="btn btn--small btn--primary">Apply</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>