---
title: "Features"
subtitle: "Features subheadline goes here"
---

<section class="section">
  <div class="site-wrap">
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/cms.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>CMS</h3>
            <p>Content for cloud-based or on premise install</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/responsive.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Responsive</h3>
            <p>Mobile responsive in design – accessible on all major devices and browsers (except for Meet module which is mobile native)</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/hosting.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Hosting</h3>
            <p>Hosted on the top rated Amazon Web Services provider for maximum security, robustness and performance</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/metrics.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Metrics</h3>
            <p>Powerful Metrics & Reporting</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/lock.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>SAML</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/internationalization.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Internationalization</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/translate.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Translate</h3>
            <p>Dynamic translation in over 54 languages</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/ui.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Simple UI</h3>
            <p>Simple and intuitive user interface</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/dashboard.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Custom dashboard</h3>
            <p>Dashboard for Diversity & Inclusion configurations tailored to your needs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>