---
title: Features
subtitle: All the goodies for your D&I success
---

<section class="section">
  <div class="site-wrap">
    <div class="row row--equal-height features">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/content.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Content repository</h3>
            <p>Provide easily-accessible best practices content and reusable material to managers and employees.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/hosting.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Hosting</h3>
            <p>Hosted on the top rated Amazon Web Services provider for maximum security, robustness and performance.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/metrics.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Business intelligence</h3>
            <p>Get a full view of your company's demographic profile through configurable metrics and aggregate reporting.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/internationalization.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Internationalization</h3>
            <p>Remove traditional barriers and expand your communication reach with realtime language translation.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/ui.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Simple UI</h3>
            <p>A simple and intuitive user interface that engages more people to achieve your diversity goals faster.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="feature">
          <%= inline_svg("icons/dashboard.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Customizable dashboards</h3>
            <p>Create multiple dashoards for Diversity &amp; Inclusion configurations tailored to your needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>