<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Diverst</title>
    <meta name="description" content="">
    <meta name="keywords" content="workforce diversity, diversity initiatives, diversity software, diversity management software, diversity system, diversity at work, employee resource groups, employee resource group, diversity in the workplace, workforce diversity, diverse workforce, diversity and inclusion, diversity & inclusion">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,500" %>
  </head>
  <body class="<%= page_classes %>">

    <%= partial :product_nav %>
    <%= partial :fixed_nav %>
    <div class="overlay"></div>

    <div id="site-wrap">

      <%= partial :nav %>
      <%= partial :header %>

      <section class="section" id="learn-more">
        <div class="site-wrap">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
              <p class="large">Diversity is more than just hiring diverse talent. It is about including and integrating unique perspectives, practices and skills into a strong culture. Integration and inclusion is easier when the right conversations lead to collaboration on corporate issues that matter. Diverst enables just that.</p>
              <p class="large">Level-up your workforce diversity initiatives by connecting people in engaging new ways and achieve superior business results.</p>
              <p class="large">Many organizations have do admirable job on recruiting diverse talent. But once done, many ask themselves: now what do we do to include, integrate an leverage all this amazing talent? Diverst has the tools to answer that question.</p>
              <p><a href="#products" class="btn btn--primary">View products</a></p>
            </div>
            <div class="hide-md col-xs-12 col-md-6">
              <img src="/images/marketscope.png">
            </div>
          </div>
        </div>
      </section>

      <section class="section section--alt" id="products">
        <div class="site-wrap">
          <h2 class="section__title">Products</h2>
          <div class="row row--equal-height">
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a href="/products/manage" class="feature">
                <%= inline_svg("icons/manage.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Manage</h3>
                  <p>The engagement and inclusion tool for your D&I process<span class="feature__link">Learn more</span></p>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a href="/products/collaborate" class="feature">
                <%= inline_svg("icons/collaborate.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Collaborate</h3>
                  <p>360° governance and view of your D&I process<span class="feature__link">Learn more</span></p>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a href="/products/inquire" class="feature">
                <%= inline_svg("icons/inquire.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Inquire</h3>
                  <p>Your diversity segmentation analysis ally<span class="feature__link">Learn more</span></p>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a href="/products/mentor" class="feature">
                <%= inline_svg("icons/mentor.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Mentor</h3>
                  <p>Developing diversity talent at every level<span class="feature__link">Learn more</span></p>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a href="/products/meet" class="feature">
                <%= inline_svg("icons/meet.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Meet</h3>
                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.<span class="feature__link">Learn more</span></p>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
                <%= inline_svg("icons/more.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>More to come</h3>
                  <p>We're working hard on developing new products</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="#sign-up" class="btn btn--primary">Request a demo</a>
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="features">
        <div class="site-wrap">
          <h2 class="section__title">Features</h2>
          <div class="row row--equal-height">
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
                <%= inline_svg("icons/cms.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>CMS</h3>
                  <p>Content for cloud-based or on premise install</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
                <%= inline_svg("icons/responsive.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Responsive</h3>
                  <p>Mobile responsive in design – accessible on all major devices and browsers</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
               <%= inline_svg("icons/hosting.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Hosting</h3>
                  <p>Hosted on the top rated Amazon Web Services provider for maximum security, robustness and performance</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
                <%= inline_svg("icons/metrics.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Metrics</h3>
                  <p>Powerful Metrics & Reporting</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
                <%= inline_svg("icons/lock.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>SAML</h3>
                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="feature">
                <%= inline_svg("icons/internationalization.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Internationalization</h3>
                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/features" class="btn btn--primary">View all features</a>
            </div>
          </div>
        </div>
      </section>

      <%= partial :sign_up %>
      <%= partial :footer %>

    </div>

    <%= partial :ga %>
    <%= javascript_include_tag 'main' %>

  </body>
</html>