<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Diverst</title>
    <meta name="description" content="Diverst is a set of software tools that help you manage, track and grow your diversity initiatives. Diverst is the fuel for your diversity and inclusion initiatives.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,500" %>
    <%= partial :trackers_head %>
  </head>
  <body class="<%= page_classes %>">

    <%= partial :modal %>
    <%= partial :product_nav %>
    <%= partial :mobile_nav %>
    <%= partial :nav %>
    <div class="overlay"></div>

    <div id="page-wrap">
      <%= partial :header %>

      <% section class: 'section--alt' do %>
        <div class="grid grid--equal-height features">
          <div class="grid__col--xs-12 grid__col--md-4">
            <div class="feature">
              <%= inline_svg("icons/deployment.svg", class: "icon feature__icon") %>
              <div class="feature__content">
                <h3>Flexible deployment</h3>
                <p>Diverst can be hosted securely on the cloud or on-premise</p>
              </div>
            </div>
          </div>
          <div class="grid__col--xs-12 grid__col--md-4">
            <div class="feature">
              <%= inline_svg("icons/configuration.svg", class: "icon feature__icon") %>
              <div class="feature__content">
                <h3>Easy configuration</h3>
                <p>Highly configurable platform to support customization and white labelling</p>
              </div>
            </div>
          </div>
          <div class="grid__col--xs-12 grid__col--md-4">
            <div class="feature">
              <%= inline_svg("icons/ui.svg", class: "icon feature__icon") %>
              <div class="feature__content">
                <h3>Simple UI</h3>
                <p>A simple and intuitive user interface that engages more people to achieve your diversity goals faster.</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <section class="section">
        <div class="site-wrap site-wrap--narrow">
          <h2 class="section__title">Products</h2>
          <div class="grid grid--equal-height features">
            <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-4">
              <a href="/products/manage-erg" class="feature feature--stacked text-center feature--outline">
                <%= inline_svg("icons/manage.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Manage</h3>
                  <p>The first ERG/BRG management and reporting tool</p>
                  <span class="feature__link">Learn more</span>
                </div>
              </a>
            </div>
            <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-4">
              <a href="/products/collaborate" class="feature feature--stacked text-center feature--outline">
                <%= inline_svg("icons/collaborate.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Collaborate</h3>
                  <p>Engagement and inclusion for your D&amp;I process</p>
                  <span class="feature__link">Learn more</span>
                </div>
              </a>
            </div>
            <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-4">
              <a href="/products/scope" class="feature feature--stacked text-center feature--outline">
                <%= inline_svg("icons/scope.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Scope</h3>
                  <p>Your diversity segmentation analysis ally</p>
                  <span class="feature__link">Learn more</span>
                </div>
              </a>
            </div>
            <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-4">
              <a href="/products/plan" class="feature feature--stacked text-center feature--outline">
                <%= inline_svg("icons/plan.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Plan</h3>
                  <p>Developing diversity talent at every level</p>
                  <span class="feature__link">Learn more</span>
                </div>
              </a>
            </div>
            <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-4">
              <a href="/products/meet" class="feature feature--stacked text-center feature--outline">
                <%= inline_svg("icons/meet.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>Meet</h3>
                  <p>Increasing diversity through introductions</p>
                  <span class="feature__link">Learn more</span>
                </div>
              </a>
            </div>
            <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-4">
              <a href="#sign-up" class="feature feature--stacked text-center feature--outline">
                <%= inline_svg("icons/more.svg", class: "icon feature__icon") %>
                <div class="feature__content">
                  <h3>More to come</h3>
                  <p>We're working hard on developing new products</p>
                  <span class="feature__link">Get in touch</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <% section class: 'section--alt' do %>
        <div class="grid grid--center">
          <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
            <h2>Features</h2>
            <ul class="list list--unstyled">
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Business Intelligence</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Customizable dashboards</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>D&I Content Repository</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>White labelling</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Mobile-first responsive design</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Role-based user permissions</li>
            </ul>
          </div>
          <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-5 grid__col--md-offset-0">
            <h2>Benefits</h2>
            <ul class="list list--unstyled">
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Reduce unconscious bias</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Break down diversity silos</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Increase ERG engagement, membership & participation</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Align D&I innitiatives to business objectives</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Measurable ROI & real-time analytics</li>
              <li><%= inline_svg("icons/checkmark.svg", class: "icon icon--accent list__icon") %>Attract and retain top talent</li>
            </ul>
          </div>
        </div>
      <% end %>

      <section class="section section--testimonial" style="background-image: url('/images/team.jpg');">
        <div class="site-wrap">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--sm-10 grid__col--sm-offset-1 grid__col--md-8 grid__col--md-offset-2">
              <h2>Level-up your workforce diversity initiatives by connecting people in engaging new ways and achieve superior business results.</h2>
            </div>
          </div>
        </div>
      </section>

      <% section class: 'text-center integrations', id: 'products' do %>
        <h2 class="section__title">Integrate with the products you already use</h2>
        <div class="integration">
          <%= inline_svg("icons/yammer-color.svg", class: "icon icon--large integration__icon") %>
          <h4>Yammer</h4>
        </div>
        <div class="integration">
          <%= inline_svg("icons/chatter.svg", class: "icon icon--large integration__icon") %>
          <h4>Chatter</h4>
        </div>
        <div class="integration">
          <%= inline_svg("icons/sharepoint-color.svg", class: "icon icon--large integration__icon") %>
          <h4>Sharepoint</h4>
        </div>
        <div class="integration">
          <%= inline_svg("icons/slack-color.svg", class: "icon icon--large integration__icon") %>
          <h4>Slack</h4>
        </div>
        <div class="integration">
          <%= inline_svg("icons/linkedin-color.svg", class: "icon icon--large integration__icon") %>
          <h4>LinkedIn</h4>
        </div>
        <div class="integration">
          <%= inline_svg("icons/user-group.svg", class: "icon icon--large icon--accent integration__icon") %>
          <h4>HCM/HRM</h4>
        </div>
      <% end %>

      <%= partial :sign_up %>
      <%= partial :footer %>

    </div>

    <%= partial :trackers_body %>
    <%= javascript_include_tag 'main' %>

  </body>
</html>