---
title: Technology
subtitle: A modern approach to diversity
---

<section class="section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section__title">Integrations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="feature">
          <%= inline_svg("icons/yammer.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Yammer</h3>
            <p>Sync employees and groups, notify your employees through Yammer messages and post Diverst content directly to the relevant Yammer communities.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature">
          <%= inline_svg("icons/chatter.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Chatter</h3>
            <p>Sync your Chatter employees with Diverst. Every new employee created in Chatter will be added to Diverst and their information will be updated when necessary. Chatter groups will be synced with Diverst ERGs.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature">
          <%= inline_svg("icons/sharepoint.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Sharepoint</h3>
            <p>Seamless transfer of all D&amp;I content from your Sharepoint environment. Sync files, links and other resources between your ERG dashboards and your Sharepoint site.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="feature">
          <%= inline_svg("icons/slack.svg", class: "icon feature__icon") %>
          <div class="feature__content">
            <h3>Slack</h3>
            <p>Fully integrate your slack conversations into Diverst collaborations. Activity from your ERGs will be automatically posted to their respective Slack channels so everyone stays in the loop.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <%= inline_svg("icons/lock.svg", class: "icon icon--large section__icon") %>
        <h2>SSO / SAML</h2>
        <p>Use your enterprise's SAML portal to seamlessly authenticates users from the corporate directory you know and trust. With auto-discovery of your employees and management lists, there are no logins to distract your users from engaging immediately. Through the syncing of employees (hires, departures, updates), there is no administration overhead to burden your IT and diversity departments with.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <%= inline_svg("icons/rest.svg", class: "icon icon--large section__icon") %>
        <h2>REST API</h2>
        <p>With interoperability as an innate criteria, Diverst offers a REST API to enable connections to your favorite and most trusted corporate platforms. It is well-documented for fast and reliable integrations.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="site-wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <%= inline_svg("icons/hosting.svg", class: "icon icon--large section__icon") %>
        <h2>Hosting</h2>
        <p>There is no hosting debate as Diverst is offered in both cloud and on-premise hosting options. If in-house, your IT department is master of your domain, controlling access through your firewall, as well as update schedules according to your timelines. In the Diverst cloud, speed, security and reliability are the standard. Diverst's cloud offerings run on multiple AWS availability zones for optimal redundancy and uptime.</p>
      </div>
    </div>
  </div>
</section>
